node_modules/*
dotNet-maUI/react-typescript/node_modules/*
dotNet-maUI/react-typescript/node_modules/.bin/*.*
dotNet-maUI/react-typescript/node_modules/.bin/acorn
dotNet-maUI/react-typescript/node_modules/*
dotNet-maUI/react-typescript/node_modules/.bin/*.*
node_modules/*
node_modules/.bin/*
dotNet-maUI/react-typescript/node_modules/.bin/acorn.ps1

node_modules/.bin/*
.idea/
.vscode/
build/
tmp/
.env
temp/
db_data/
database/
mysql